* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.calculator,
.display,
button {
  border: 1px solid black;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.calculator {
  background-color: rgb(170, 170, 170);
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-between;
  padding: 25px;
  row-gap: 10px;
  width: 400px;
}

.display {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  padding: 25px 20px;
  width: 350px;
}

.display > p {
  font-size: 42px;
}

.clear {
  background-color: lightcoral;
  font-size: 18px;
  height: fit-content;
  padding: 20px;
  margin-top: 10px;
  width: 170px;
}

.delete {
  background-color: lightsalmon;
  font-size: 18px;
  height: fit-content;
  padding: 20px;
  margin-top: 10px;
  width: 170px;
}

button {
  background-color: white;
  font-size: 18px;
  height: fit-content;
  opacity: 1;
  padding: 25px 20px;
  width: 80px;
}

footer {
  align-items: center;
  bottom: 0;
  column-gap: 10px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}